# ignore html files
*.html
main.pdf
./feedback/*.pdf
*.lof
*.aux
*.log
*.lot
*.out
*.bbl
*.blg
*.toc

# ignore all textual files
*.txt

# ignore object and archive files
*.[oa]

# ignore auto-saved files
*~
\#*\#

# excepted these manually configured files
!CMakeLists.txt
!README.txt
!application/
!doc/
!lib/
!src/
!test/

# ignore built files
*/build/
*/release/*
*/debug/*
*/build/*


